.day {
    margin-right: 0.316rem;
    transition: background-color 1s;
}

.sun {
    margin-right: 0;
}


.mon::before {
    height: 2.5rem;
}

.tue::before {
    height: 5rem;
}

.wed::before {
    height: 8.125rem;
    background-color: hsl(186, 34%, 60%);
    transition: background-color 0.15s;
}

.thu::before {
    height: 4.375rem;
}

.fri::before {
    height: 3.438rem;
}

.sat::before {
    height: 6.25rem;
}

.sun::before {
    height: 3.75rem;
}