.day {
    margin-right: 5px;
    transition: background-color 1s;
}

.sun {
    margin-right: 0;
}


.mon::before {
    height: 40px;
}

.tue::before {
    height: 80px;
}

.wed::before {
    height: 130px;
    background-color: hsl(186, 34%, 60%);
    transition: background-color 0.15s;
}

.thu::before {
    height: 70px;
}

.fri::before {
    height: 55px;
}

.sat::before {
    height: 100px;
}

.sun::before {
    height: 60px;
}