.day-container {
    display: inline-block;
    position: relative;
}

.day:hover::before {
    background-color: hsla(10, 79%, 65%, 0.7);
}

.wed:hover::before {
    background-color: hsla(186, 34%, 60%, 0.7);
}

.amount-tooltip {
    position: absolute;
    font-size: 0.813rem;
    top: -1.875rem;
    left: -0.188rem;
    background-color: hsl(25, 47%, 15%);
    color: white;
    padding: 0.313rem;
    border-radius: 0.313rem;
    opacity: 0;
    font-weight: bold;
}

