@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

body {
    display: flex;
    font-family: 'DM Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: hsl(27, 66%, 92%);
    white-space: nowrap;
}

header {
    background-color: hsl(10, 79%, 65%);
    /* width: 27%; */
    margin-bottom: 1.25rem;
    padding: 0.625rem 1.563rem;
    color: white;
    border-radius: 0.938rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balance-container {
    width: 17.5rem;
}

.balance-label {
    font-size: 0.813rem;
    margin-bottom: 0.313rem;
}

.balance {
    margin: 0;
    font-weight: 700;
    font-size: 1.875rem;
}

.logo {
    height: 2.188rem;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 0.938rem;
    background-color: white;
    /* width: 27%; */
    padding: 1.563rem; 
}

.heading {
    margin: 0;
    font-size: 1.438rem;
    margin-bottom: 1.25rem;
}

.charts-container::after {
    content: '';
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 100%;
    display: block;
    padding-bottom: 1.563rem;
}

.day {
    display: inline-block;
    text-align: center;
    color: gray;
    font-size: 0.813rem;
}

.day::before {
    content: '';
    background-color: hsl(10, 79%, 65%);
    width: 2.5rem;
    cursor: pointer;
    border-radius: 0.188rem;
    display: block;
    transition: background-color 0.15s;
}

footer {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-label {
    color: gray;
    font-size: 0.813rem;
    margin: 0;
}

.amount {
    font-weight: 700;
    font-size: 1.875rem;
}

.percent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
    /* background-color: red; */
}

.percentage {
    font-weight: 700;
    text-align: right;
    margin: 0;
}

.last-month {
    margin: 0;
    color: gray;
    font-size: 0.813rem;
}