@media screen and (max-width: 600px) {
    body {
        font-size: 14px; 
    }

    header {
        font-size: 0.875rem; 
    }
}


@media (max-width: 395px) {
    header {
        width: 16rem;
        padding: 0.625rem 1.563rem;
    }

    .heading {
        font-size: 1.125rem;
    }

    .day {
        margin-right: 0;
    }

    .day::before {
        width: 1.563rem;
    }

    .amount-tooltip {
        font-size: 0.563rem;
        top: -1.25rem;
        left: -0.25rem;
        padding: 0.188rem;
        border-radius: 0.188rem;
    }
    
    
}
